
/* template-color */

.scroll-top{
  color: #ff6f29;
}

.handle-preloader{
	background: #2c8072;
}

.header-top .info li i{
	color: #19374f;
	color: #D15A09;
}

.header-top .info li a:hover{
  color: #19374f;
}

.header-top .top-right .social-links li a:hover{
  color: #19374f;
}

.header-top .top-right .other-links li a:hover{
  color: #19374f;
}

.main-header .menu-right-content .btn-box a{
	background: #19374f;
}

.main-header .menu-right-content .support-box .icon{
	color: #438978;
}

.header-style-one .menu-right-content .support-box h6 a:hover{
  color: #438978;
}

.main-header .search-box-btn:hover{
	color: #438978;
}

.main-header .search-box-outer .dropdown-menu{
	background: #438978;
}

.header-style-one .menu-right-content .btn-box a:hover{
  background: #438978;
}

.banner-carousel .content-box h3{
	color: #9d583f;
}

.theme-btn.btn-one{
	background: #438978;
}

.info-section .single-item .icon-box{
	color: #19374f;
}

.info-section .single-item h5 a:hover{
  color: #19374f;
}

.image_block_one .image-box .icon-box{
	background: #19374f;
}

.sec-title h2:before{
	background: #19374f;
}

.content_block_one .content-box .text h4{
	color: #438978;
}

.list-style-one li:before{
	color: #19374f;
}

.chooseus-section .content-box .content-inner{
	background: #19374f;
}

.chooseus-section .content-box .content-inner .theme-btn:before{
	background: #438978;
}

.gallery-block-one .inner-box h3 a:hover{
	color: #438978;
}

.gallery-block-one .inner-box .link a{
	border: 2px solid #19374f;
	color: #19374f;
}

.gallery-block-one .inner-box .link a:hover{
  background: #19374f;
}

.scroll-top{
	background: #19374f;
}

.content_block_two .content-box .single-item .icon-box{
	background: #438978;
}

.image_block_two .image-box .video-btn a{
	background: #19374f;
}

.testimonil-block-one .inner-box .author-thumb .quote{
	background: #19374f;
}

.testimonil-block-one .inner-box .author-info .designation{
	color: #438978;
}

.testimonil-block-one .inner-box:before{
	background: #19374f;
}

.events-block-one .inner-box .image-box .image{
	background: #438978;
}

.events-block-one .inner-box .image-box .post-date{
	background: #19374f;
}

.events-block-one .inner-box .info li i{
	color: #438978;
}

.events-block-one .inner-box h3 a:hover{
  color: #438978;
}

.counter-block-one .inner-box .icon-box{
	background: #19374f;
}

.news-block-one .inner-box .image-box .post-date{
	background: #438978;
}

.news-block-one .inner-box .lower-content .post-info li a:hover{
  color: #438978;
}

.news-block-one .inner-box .lower-content .post-info li i{
	color: #19374f;
}

.news-block-one .inner-box .lower-content h3 a:hover{
  color: #438978;
}

.news-block-one .inner-box .lower-content .link a{
	background: #19374f;
}

.news-block-one .inner-box .lower-content .link a:hover{
  background: #438978;
}

.cta-section .bg-layer{
	background: #19374f;
}

.footer-top .footer-social li a:hover{
  background: #19374f;
}

.footer-top .links-widget .links-list li a:hover{
  color: #19374f;
}

.footer-top .contact-widget .info li a:hover{
  color: #19374f;
}

.footer-top .contact-widget .info li i{
	color: #19374f;
}

.footer-top .gallery-widget .image-list li .image{
	background: #438978;
}

.footer-bottom p a:hover{
  color: #19374f;
}

.header-style-two .header-lower .main-menu .navigation > li.current > a, 
.header-style-two .header-lower .main-menu .navigation > li:hover > a{
	color: #19374f;
}

.header-style-two .header-lower .menu-right-content .other-links li a:hover{
	color: #19374f;
}

.header-style-two .header-lower .search-box-btn:hover{
  color: #19374f;
}

.banner-style-two .social-links li a:hover{
  color: #19374f;
}

.banner-style-two .video-box .video-btn a{
	background: #4ba750;
}

.banner-style-two .video-box .link a:hover{
  background: #19374f;
}

.content_block_three .content-box .inner .icon-box{
	color: #438978;
}

.image_block_three .image-box:after{
	background: #438978;
}

.animals-section .single-item .icon-box{
	color: #19374f;
}

.animals-section .single-item:hover,
.animals-section .single-item.active-btn{
  background: #19374f;
}

.animals-section .single-item:before,
.animals-section .single-item.active-btn:before{
	background: #19374f;
}

.video-section .inner-box .video-btn a{
	background: #19374f;
}

.gallery-style-two .sec-title{
	background: #438978;
}

.gallery-block-two .inner-box .view-box a{
	color: #19374f;
}

.pricing-block-one .pricing-table .table-header .icon-box{
	background: #19374f;
}

.pricing-block-one .pricing-table .table-header h2{
	color: #438978;
}

.pricing-block-one .pricing-table .table-header .icon-box:before{
	background: #438978;
}

.news-style-two .sec-title .theme-btn:before{
	background: #438978;
}

.news-block-two .inner-box{
	background: #19374f;
}

.news-block-two .inner-box .image-box{
	background: #438978;
}

.news-block-three .inner-box .post-info li i{
	color: #19374f;
}

.news-block-three .inner-box .post-info li a:hover{
  color: #19374f;
}

.news-block-three .inner-box .image-box{
	background: #438978;
}

.news-block-three .inner-box h3 a:hover{
  color: #438978;
}

.page-title .bread-crumb li{
	color: #19374f;
}

.page-title .bread-crumb li a{
	color: #19374f;
}

.content_block_three .content-box .text h4{
	color: #438978;
}

.about-style-three .content_block_three .content-box .theme-btn{
  background: #19374f;
}

.team-block-one .inner-box .lower-content h3 span{
	color: #438978;
}

.team-block-one .inner-box .lower-content h3 a:hover{
	color: #438978;
}

.team-block-one .inner-box .lower-content .social-links li a:hover{
  background: #438978;
}

.gallery-page-section .gallery-block-two .inner-box .image-box{
  background: #438978;
}

.error-section .inner-box h1{
	color: #438978;
}

.news-block-one .inner-box .lower-content .theme-btn:before{
	background: #438978;
}

.news-block-one .inner-box .lower-content h2 a:hover{
  color: #438978;
}

.blog-sidebar .search-widget{
	background: #19374f;
}

.blog-sidebar .search-widget .form-group input:focus + button,
.blog-sidebar .search-widget .form-group button:hover{
  color: #438978;
}

.blog-sidebar .post-widget .post .post-thumb{
	background: #19374f;
}

.blog-sidebar .post-widget .post-inner .post .post-date i{
	color: #19374f;
}

.blog-sidebar .post-widget .post-inner .post .post-date a:hover{
	color: #19374f;
}

.blog-sidebar .post-widget .post-inner .post h6 a:hover{
  color: #19374f;
}

.blog-sidebar .category-widget .category-list li a:hover i{
  color: #438978;
}

.blog-sidebar .tags-widget .tags-list li a:hover{
  background: #19374f;
}

.blog-details-content .post-share-option .tags-list li a{
	background: #19374f;
}

.blog-details-content .post-share-option .tags-list li a:hover{
	background: #438978;
}

.blog-details-content .post-share-option .social-links li a:hover{
  background: #438978;
}

.blog-details-content .comment-box .comment .reply-btn{
	background: #438978;
}

.blog-details-content .comment-box .comment .reply-btn:hover{
  background: #19374f;
}

.default-form .form-group input:focus,
.default-form .form-group textarea:focus{
	border-color: #438978 !important;
}

.google-map-section .map-inner .content-box{
	background: #19374f;
}

.google-map-section .content-box .inner .icon-box{
	color: #19374f;
}

.mobile-menu .menu-backdrop{
	background: #19374f;
}